body {
  /*font-family: 'Asap', sans-serif;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

header img {
  /*width: 400px;*/
  height: 150px;
}


nav {
  background-color: darkgreen;
  margin: 15px 0;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 52px !important;
  max-height: 52px;
  font-size: 24px;
}

nav a {
  color: white;
  display: inline;
  text-align:center; 
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color:#1ED30B;
}

nav .active {
  color:#1ED30B;
}

	

footer {
  background-color: lightgray;
}

